<% if (latest.length > 0) {%>
<ul class="list-group text-md-left latest-updates mb-2">
  <% latest.forEach((item) => {%>
  <li class="list-group-item">
    <a class="novel-title-link" href="<%- item.getNovelLink() %>">
      <span class="novel-title"><%= item.novel.title %>  
      </span>
    </a>
    <a class="chapter-stuff" href="<%- item.getLink() %>">
      <strong> <%= item.number %></strong> 
      <small class="text-muted">
        <i><%= item.title %></i>
      </small>
    </a>
  </li>
  <% });%>
</ul>
<% } else { %>
<div class="card">
  <div class="card-body">
    No novels in that category yet. Why not write one?
  </div>
</div>
<% } %>