<%
  if (typeof description == "undefined" || !description) {
    description = "Plenty of original novels updated daily to read, with genres including fantasy, litrpg and martial arts.";
  }
%><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %> - LitNovel</title>
  <meta property="og:title" content="<%= title %>" />
  <meta name="description" content="<%= description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- meta %>
  <link rel="icon" href="/fire-sm.png" />
  <link rel="stylesheet" href="/stylesheets/styles.css?v=<%= version %>">
</head>
<body>
  <div id="background"></div>
  <nav class="navbar navbar-dark bg-dark  navbar-expand-sm varying-container fixed-top">
    <!--<div class="varying-container">-->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">LitNovel</a>

      <div id="navbarResponsive" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item<% if (title=="Home"){%> active <% } %>"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item<% if (title=="Contact us"){%> active <% } %>"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>

        <ul class="navbar-nav navbar-md-right ">
          <% if (user) { %>
            <% if (user.isAdmin()) {%>
            <li class="nav-item">
              <a href="/admin" class="nav-link navbar-text">Admin</a>
            </li>
            <% } %>
            <li class="nav-item">
              <a class="navbar-text text-muted nav-link" href="/account/gold"><%- user.gold %> <i class="gold-amount" aria-label="gold"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-text" href="<%- user.getLink() %>">
                <img src="<%- user.avatar(23) %>" class="avatar" aria-label="Profile">
              </a>
            </li>
          <% } else { %>
          <li class="nav-item"><span class="navbar-text text-muted">Already have an account?</span></li>
          <li class="nav-item dropdown">
            <a href="/login" class="nav-link navbar-text dropdown-toggle" data-toggle="dropdown" id="loginDropDown">Login</a>
            <div id="login-dp" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-menu">
               <div class="row">
                <div class="col-md-12">
                  Login via
                  <div class="social-buttons">
                    <a href="/auth/google" class="btn btn-google"><i class="fa fa-google-plus"></i> Google</a>
                  </div>
                  or
                  <form class="form" role="form" method="post" action="/login" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                     <label class="sr-only" for="email">Email address</label>
                     <input type="email" class="form-control" id="email" placeholder="Email address" name="email" required>
                   </div>
                   <div class="form-group">
                     <label class="sr-only" for="password">Password</label>
                     <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                     <div class="help-block text-right"><a href="/goldfish">Forgot the password ?</a></div>
                   </div>
                   <input type="hidden" name="referrer" value="<%= req.originalUrl %>">
                   <div class="form-group">
                     <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                   </div>
                   <!-- <div class="checkbox">
                     <label>
                       <input type="checkbox"> keep me logged-in
                     </label>
                   </div> -->
                 </form>
               </div>
               <div class="bottom text-center">
                New here ? <a href="/signup?referrer=<%= req.url %>"><b>Join Us</b></a>
               </div>
             </div>
          </div>
        </li>
        <% } %>
        </ul>
      </div><!--/.nav-collapse -->
    <!--</div>-->
  </nav>

<div class="main-container">

  <!-- CONTENT -->
  <%- body %>

</div><!-- /.container -->

<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/popper.min.js"></script>

<script src="/javascript/frontend.js?v=<%= version %>"></script>
</body>
</html>
