<%
title = chapter.title;
isGod = user && (user.isAdmin() || user.id == novel.author.ref);
novelLink = novel.getLink();
num = +req.params.chapter;
description = sys.makeDescription(chapter.content);

%>

<%- contentFor('body') %>

<meta name="author" content="<%= novel.author.name %>" />

<div class="offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 sm-no-padding">
  <h2 class="text-center"><a href="<%= novel.getLink() %>"><%= novel.title %></a> - <%= num %> <% if (isGod) {%><small><a href="<%= novelLink + "/" + num  + "/edit" %>"><small><span class="fa fa-pencil-square-o smaller"></span></small></a></small><% } %></h2>
  <div class="pos-r">
    <h6 class="text-center text-muted">
      by <a href="<%= novel.author.link || ("/u/"+novel.author.name) %>" class="authorLink"><%= novel.author.name %></a>
    </h6>
    <small><time class="float-right text-muted pos-a" format="ago" unixtime="<%= sys.unixTime(chapter.id) %>" style="right: 0; bottom: -10%"><%= sys.timeSince(chapter.id) %> ago</time></small>
  </div>
  <hr/>
  <h3 class="chapter-title"><%= chapter.title %></h3>
  <div class="chapter-content">
    <%- chapter.content %>
  </div>

  <% if (chapter.authorNote) {%>
  <br/>
  <div class="card">
    <div class="card-block bg-faded">
      <h6 class="card-title">Author's note</h6>
      <div class="author-note">
        <%- chapter.authorNote %>
      </div>
    </div>
  </div>
  <% } %>
  <hr/>

  <div class="text-center">
    <div class="btn-group" role="group" aria-label="Navigation">
      <a href="<%= novel.getLink() + "/" + (num-1) %>" class="btn btn-primary<%= num == (novel.prologue? 0 : 1) ? " disabled" : ""%>"><span class="fa fa-lg fa-long-arrow-left"></span> <span class="hidden-sm-down">Previous Chapter</span></a>
      <a href="<%= novel.getLink()%>" class="btn btn-primary"><span class="fa fa-lg fa-th-list"></span> <span class="hidden-sm-down">Table of Contents</span></button>
      <a href="<%= novel.getLink() + "/" + (num+1) %>" class="btn btn-primary<%= num == novel.numChapters ? " disabled" : ""%>"><span class="hidden-sm-down">Next Chapter</span> <span class="fa fa-lg fa-long-arrow-right"></span></a>
    </div>
  </div>
</div>
