<%
title = chapter.title;
isGod = user && (user.isAdmin() || user.id == novel.author.ref);
canComment = !!user;
novelLink = novel.getLink();
num = +req.params.chapter;
description = sys.makeDescription(chapter.content);
chapterLink = novel.getLink() + "/" + num;

%>

<%- contentFor('body') %>

<meta name="author" content="<%= novel.author.name %>" />

<div class="offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 sm-no-padding">
  <h2 class="text-center"><a href="<%= novel.getLink() %>"><%= novel.title %></a> - <%= num %> <% if (isGod) {%><small><a href="<%= novelLink + "/" + num  + "/edit" %>"><small><span class="fa fa-pencil-square-o smaller"></span></small></a></small><% } %></h2>
  <div class="pos-r">
    <h6 class="text-center text-muted">
      by <a href="<%= novel.author.link || ("/u/"+novel.author.name) %>" class="authorLink"><%= novel.author.name %></a>
    </h6>
    <small><time class="float-right text-muted pos-a" format="ago" unixtime="<%= sys.unixTime(chapter.id) %>" style="right: 0; bottom: -10%"><%= sys.timeSince(chapter.id) %> ago</time></small>
  </div>
  <hr/>
  <h3 class="chapter-title"><%= chapter.title %></h3>
  <div class="chapter-content">
    <%- chapter.content %>
  </div>

  <% if (chapter.authorNote) {%>
  <br/>
  <div class="card">
    <div class="card-block bg-faded">
      <h6 class="card-title">Author's note</h6>
      <div class="author-note">
        <%- chapter.authorNote %>
      </div>
    </div>
  </div>
  <% } %>

  <div class="text-center chapter-navigation-bottom">
    <div class="btn-group" role="group" aria-label="Navigation">
      <a href="<%= novel.getLink() + "/" + (num-1) %>" class="btn btn-primary<%= num == (novel.prologue? 0 : 1) ? " disabled" : ""%>"><span class="fa fa-lg fa-long-arrow-left"></span> <span class="hidden-sm-down">Previous Chapter</span></a>
      <a href="<%= novel.getLink()%>" class="btn btn-primary"><span class="fa fa-lg fa-th-list"></span> <span class="hidden-sm-down">Table of Contents</span></button>
      <a href="<%= novel.getLink() + "/" + (num+1) %>" class="btn btn-primary<%= num == novel.numChapters ? " disabled" : ""%>"><span class="hidden-sm-down">Next Chapter</span> <span class="fa fa-lg fa-long-arrow-right"></span></a>
    </div>
  </div>

  <hr/>

  <div class="chapter-comments">
    <h3 class="text-center"><i class="fa fa-comments"></i> Comments</h3>


    <br/>
    <% if (canComment) {%>
      <h4 id="comment">Leave a comment</h4>
      <form action="<%= chapterLink %>/comment" method="post" accept-charset="utf-8">
        <textarea placeholder="Enter your comment here..." class="form-control" id="commentBody"></textarea>
        <button type="submit" class="btn btn-secondary btn pull-right" style="margin-top: 5px">Comment</button>
        <br class"clear-fix">
      </form>
    <% } else { %>
      <div class="text-center"><a href="<%= chapterLink %>/comment">Leave a comment</a></div>
    <% } %>
  </div>
  <br/>
</div>
