<%
title = chapter.title;
isGod = user && (user.isAdmin() || user.id == novel.author.ref);
isAdmin = user && user.isAdmin();
canComment = !!user;
novelLink = novel.link();
num = +req.params.chapter;
description = sys.makeDescription(chapter.content);
chapterLink = novel.link() + "/" + num;

liked = likesChapter;
likes = chapter.likes;

%>

<%- contentFor('body') %>

<meta name="author" content="<%= novel.author.name %>" />

<div class="offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 sm-no-padding">
  <h2 class="text-center"><a href="<%= novelLink %>"><%= novel.title %></a> - <%= num %> <% if (isGod) {%><small><a href="<%= novelLink + "/" + num  + "/edit" %>"><small><span class="fa fa-pencil-square-o smaller"></span></small></a></small><% } %></h2>
  <div class="pos-r">
    <h6 class="text-center text-muted">
      by <a href="<%= novel.author.link || ("/u/"+novel.author.name) %>" class="authorLink"><%= novel.author.name %></a>
    </h6>
    <a href="<%= chapterLink + (liked ? "/unlike" : "/like") %>" class="btn pos-a btn-sm btn-secondary<%- liked ? " active" : "" %>" aria-pressed="<%- liked ? "true" : "false" %>" style="left: 0; bottom: -50%">
      <span class="fa fa-thumbs-up"></span> Like <span class="badge badge-default"><%- likes %></span>
    </a>
    <small><time class="text-muted pos-a" format="ago" unixtime="<%= sys.unixTime(chapter.id) %>" style="right: 0; bottom: -10%"><%= sys.timeSince(chapter.id) %> ago</time></small>
  </div>
  <hr/>
  <h3 class="chapter-title"><%= chapter.title %></h3>
  <div class="chapter-content">
    <%- chapter.content %>
  </div>

  <% if (chapter.authorNote) {%>
  <br/>
  <div class="card">
    <div class="card-body bg-faded">
      <h6 class="card-title">Author's note</h6>
      <div class="author-note">
        <%- chapter.authorNote %>
      </div>
    </div>
  </div>
  <% } %>

  <div class="text-center chapter-navigation-bottom">
    <div class="btn-group" role="group" aria-label="Navigation">
      <a href="<%= novel.link() + "/" + (num-1) %>" class="btn btn-primary<%= num == (novel.prologue? 0 : 1) ? " disabled" : ""%>"><span class="fa fa-lg fa-long-arrow-left"></span> <span class="hidden-sm-down">Previous Chapter</span></a>
      <a href="<%= novel.link()%>" class="btn btn-primary"><span class="fa fa-lg fa-th-list"></span> <span class="hidden-sm-down">Table of Contents</span></button>
      <a href="<%= novel.link() + "/" + (num+1) %>" class="btn btn-primary<%= num == novel.numChapters ? " disabled" : ""%>"><span class="hidden-sm-down">Next Chapter</span> <span class="fa fa-lg fa-long-arrow-right"></span></a>
    </div>
  </div>

  <hr/>

  <div class="chapter-comments">
    <h3 class="text-center"><i class="fa fa-comments"></i> Comments</h3>

    <% comments.forEach(function(comment) { %>
      <div class="card">
        <!--<img class="card-img-top" src="..." alt="Card image cap">-->
        <div class="card-body">
          <h4 class="card-title"><%= comment.author.name %><%if (canComment && (isAdmin || user.id == comment.author.ref)) {%><a href="/comment/<%- comment.id %>/delete"><i class="fa fa-trash pull-right"></i></a><%}%></h4>
          <p class="card-text"><%- comment.text %></p>
          <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>
    <% }); %>
    <br/>
    <% if (canComment) {%>
      <h4 id="comment">Leave a comment</h4>
      <form action="<%= chapterLink %>/comment" method="post" accept-charset="utf-8">
        <textarea placeholder="Enter your comment here..." class="form-control" name="commentBody" maxlength="<%- constants.commentMaxLength %>"></textarea>
        <button type="submit" class="btn btn-secondary btn pull-right" style="margin-top: 5px">Comment</button>
        <input type="hidden" name="back" value="<%= chapterLink %>#comment">
        <br class"clear-fix">
      </form>
    <% } else { %>
      <div class="text-center"><a href="<%= chapterLink %>/comment">Leave a comment</a></div>
    <% } %>
  </div>
  <br/>
</div>
