<%

title = novel.title;
isGod = user && (user.isAdmin() || user.id == author.id);
nLink = novel.link();
authorName = author.displayName();
followed = user && user.followsNovel(novel.id);
description = sys.makeDescription(novel.description);

%>

<%- contentFor('body') %>

<meta property="og:title" content="<%= title %>" />
<meta property="og:type" content="books.book" />
<meta property="books:author" content="<%= authorName %>" />
<meta property="og:url" content="http://" + reg.get("host") + "/" + novel.link() />
<!--<meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />-->
<meta name="author" content="<%= authorName %>" />

<div>
  <div class="novel-header clearfix">
    <h2 class="text-center"><%= title %></h2>
    <div class="row">
      <div class="col-12 col-sm-auto">
        <div class="novel-cover" style="background: url('<%= novel.getImageLink("200x300") %>')">
          <% if (isGod) { %>
            <div class="center" style="width:100%"><a href="<%= nLink %>/edit-image"><i class="fa fa-pencil-square-o"></i></a></div>
          <% } %>
        </div>
      </div>

      <div class="col-xs-12 col-sm d-column novel-info">
        <p>By <strong><a href="<%= author.link() %>"><%= authorName %></a></strong><br/></p>
        <p>
        <% if (novel.categories[0]) { %>
          <a href="/category/<%= novel.categories[0] %>"><span class="badge badge-primary"><%= req.categoryName(novel.categories[0]) %></span></a>
        <% }
        if (novel.categories[1]) {
        %>
          <a href="/category/<%= novel.categories[1] %>"><span class="badge badge-secondary"><%= req.categoryName(novel.categories[1]) %></span></a>
        <% }%>
        </p>
        <p>
          Publication date: <span class="text-muted"><%= novel.publicationDate() ? sys.dayOfYear(novel.publicationDate()) : 'unpublished' %></span><br/>
          Last upload: <span class="text-muted"><%= novel.latestChapter ? sys.timeSince(novel.latestChapter.toString()) + ' ago' : 'no chapters' %></span> <br />
          Release frequency: <span class="text-muted">Every <%= novel.uploadRate().toFixed(1) %> day<%= novel.uploadRate() >= 2 ? 's' : '' %></span>
        </p>
        <div class="flex-grow"></div>
        <div class="row no-gutters">
          <div class="col-auto pr-2 pt-2">
            <span class="btn btn-sm btn-secondary" title="Chapters">
              <span class="fa fa-bookmark" /> 
              <span class="badge badge-secondary"><%= novel.numChapters + (novel.prologue ? 1 : 0) %></span>
              <span class="sr-only"> Chapters</span>
            </span>
          </div>
          <div class="col-auto pr-2 pt-2">
            <span class="btn btn-sm btn-secondary" title="Words">
              <span class="fa">W</span> 
              <span class="badge badge-secondary"><%= 1500 %></span>
              <span class="sr-only"> Words</span>
            </span>
          </div>
          <div class="col-auto pr-2 pt-2">
            <span class="btn btn-sm btn-secondary" title="Views">
              <span class="fa fa-eye" />
              <span class="badge badge-secondary"><%= novel.totalViews %></span>
              <span class="sr-only"> Views</span>
            </span>
          </div>
          <div class="col-auto pr-2 pt-2">
            <span class="btn btn-sm btn-secondary" title="Likes">
              <span class="fa fa-thumbs-up" /> 
              <span class="badge badge-secondary"><%= novel.totalLikes %></span>
              <span class="sr-only">Likes </span>
            </span>
          </div>
          <div class="col-auto pr-2 pt-2">
            <a href="<%= novel.link() + (followed ? "/unfollow" : "/follow") %>" class="btn btn-sm btn-secondary<%- followed ? " active" : "" %>" aria-pressed="<%- followed ? "true" : "false" %>"><span class="fa fa-plus"></span> Follow <span class="badge badge-default"><%- novel.follows %></span></a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mt-2">
      <h4>Synopsis</h4>
      <div class="synopsis">
        <%- novel.description %>
      </div>
      <% if (isGod) {%>
        <p>
          <a href="<%= nLink %>/edit">
            <span class="fa fa-pencil-square-o"></span> Edit description
          </a>
        </p>
      <% } %>
    </div>
  </div>
  <div>
    <h4>Chapters</h4>
    <p><ul class="list-group">
    <% if (!isGod) {
       novel.chapters.forEach( (item, index) => { 
         index = novel.prologue ? index : (+index + 1);
        %>
      <a class="list-group-item list-group-item-action" href="<%= nLink + "/" + index %>">
        <span class="chapter-title mr-auto">
          <%= index %> - <%= item.title %>
        </span>
        <span class="text-muted hide-sm">
          <span class="words">
            <%= item.wordCount %>
            <span class="fa">
              W<span class="sr-only">words</span>
            </span>&nbsp;
          </span>
          <span class="views">
           <%= item.views %>
            <span class="fa fa-eye">
              <span class="sr-only">Views</span>
            </span>&nbsp;&nbsp;&nbsp;
          </span>
          <time format="ago" unixtime="<%= sys.unixTime(item.id) %>" class="when"><%= sys.timeSince(item.id) %> ago</time>
        </span>
      </a>
    <% });
     } else { 
       novel.chapters.forEach( (item, index) =>  { 
       index = novel.prologue ? index : (+index + 1);
      %>
      <li class="list-group-item">
        <a class="mr-auto list-group-item-action" href="<%= nLink + "/" + index %>">
          <span class="chapter-title">
            <%= index %> - <%= item.title %>
          </span>
        </a>
      </span>
        <span class="text-muted" >
         <%= item.views %>
          <span class="fa fa-eye">
            <span class="sr-only">Views</span>
          </span>&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <time class="text-muted" format="ago" unixtime="<%= sys.unixTime(item.id) %>"><%= sys.timeSince(item.id) %> ago</time>&nbsp;&nbsp;&nbsp;

        <a href="<%= nLink + "/" + index  + "/edit" %>">
          <span class="sr-only">Edit chapter</span><span class="fa fa-pencil-square-o" aria-hidden="true"></span>
        </a>
        <a href="<%= nLink + "/" + index  + "/delete" %>" <% if (index != novel.numChapters) {%>class="invisible"<%}%>>
          <span class="sr-only">Delete chapter</span><span class="fa fa-trash" aria-hidden="true"></span>
        </a>
      </li>
    <% });
    } %>
    </ul></p>
    <% if (isGod) {%><p><a href="<%= nLink %>/addchapter"><span class="fa fa-plus"></span> Add a chapter</a></p><% } %>
  </div>
  <% if (isGod) {%>
  <div>
    <p>
      <% if (novel.public) {%>
      <a href="<%= nLink %>/hide" class="btn btn-primary"><span class="fa fa-eye-slash"></span> Make private</a>
      <% } else { %>
      <a href="<%= nLink %>/show" class="btn btn-primary"><span class="fa fa-eye"></span> Make public</a>
      <% } %>
      <a href="<%= nLink %>/delete" class="btn btn-danger<% if (novel.numChapters > 0) {%> disabled" title="You can't delete a novel with chapters in it"<% }else{ %>"<%}%>><span class="fa fa-trash"></span> Delete novel</a>
    </p>
  </div>
  <% } %>
</div>
