<%
title = u.displayName();
var isDisplayedUser = user && user.id == u.id;

var isGod = user && (user.isAdmin() || isDisplayedUser);

var novels = u.novels.filter(nov => nov.public || isGod);
%>

<%- contentFor('body') %>

<% if (message.length > 0) { %>
<div class="alert alert-info"><%= message %></div>
<% } %>
<div class="row only-one-row">
  <div class="user sidebar">
    <section class="vcard">
      <img src="<%=u.avatar(230)%>"  class="avatar rounded-2 width-fit"/>
      <h4>
        <span class="username"><%= u.displayName() %></span>
        <% if (isDisplayedUser) {%>
          <a href="/logout" class="btn btn-secondary btn-sm pull-right">Logout</a>
          <%}%>
      </h4>
      <span class="bio">
          <%- u.bio || "<i>No bio yet.</i>" %>
      </span>
      <% if (isDisplayedUser) { %>
        <a class="btn btn-primary form-control" href="/account"><i class="fa fa-pencil"></i> Edit profile</a>
      <%}%>
    </section>
  </div>
  <div class="user main" style="max-width: 700px">
    <% if (novels.length > 0 || isDisplayedUser) { %>
    <section>
      <h4>Novels</h4>
      <%if (novels.length > 0) { %>
      <p><ul class="list-group">
        <% novels.forEach( (novel) => { %>
          <a href="/<%= slug(novel.title) %>" class="list-group-item list-group-item-action"><%= novel.title %></a>
        <% }); %>
      </ul></p>
      <% }
      if (isDisplayedUser) { %>
      <p><a href="/addnovel" class="btn btn-secondary"><span class="fa fa-plus"></span> New novel</a></p>
      <% } %>
    </section>
    <% } %>

    <section>
      <h4>Library</h4>
      <% if (u.followedNovels.length > 0) { %>
      <ul class="list-group">
        <% u.followedNovels.forEach( (novel) => {
          var nLink = "/"+slug(novel.title); %>

          <% if (isDisplayedUser) { %>
          <li class="list-group-item">
            <a class="list-group-item-action mr-auto" href="<%= nLink %>"><%= novel.title %></a>
            <a href="<%= nLink + "/unfollow" %>">
              <span class="sr-only">Unlike</span>
              <span class="fa fa-times" aria-hidden="true"></span>
            </a>
          </li>
          <% } else { %>
          <a href="/<%= slug(novel.title) %>" class="list-group-item list-group-item-action"><%= novel.title %></a>
          <% } %>
        <% }); %>
      </ul>
      <% } else { %>
      <div class="card">
        <div class="card-block">
          <i>This user doesn't have any favorite novels.</i>
        </div>
      </div>
      <% } %>
    </section>

    <section>
      <h4>Activity</h4>
      <div class="card">
        <img src="/images/profile-joined-litnovel.png" class="width-fit mt-5" />
        <div class="text-center">
          <p class="text-success f3 mb-3"><strong>Joined LitNovel</strong><br>
          <small><time format="ago" unixtime="<%= sys.unixTime(u.id) %>" class="text-muted">on <%= sys.dayOfYear(u.id) %></time></small></p>
        </div>
      </div>
    </section>
  </div>
</div>

</div>
