<% 

title = "List of Users"; 

%>

<%- contentFor('body') %>

<meta property="og:title" content="<%= title %>" />
<meta property="og:url" content="http://" + reg.get("host") + "/users" />
<!--<meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />-->

<div>
  <h2 class="text-md-center"><%= title %></h2>
  <hr/>
  <ul class="list-group text-md-left novelia-list">
    <% users.forEach(user => {%>
    <li class="list-group-item">
      <a href="<%- user.link() %>">
        <%= user.displayName %>  
      </a>
    <% });%>
  </ul>
  
</div>