<% title = "Admin interface"; %>

<%- contentFor('body') %>

<div class="text-md-center">
  <h1><%= title %></h1>

  <br/>
  <div class="card">
    <div class="card-block bg-secondary">
      <p class="lead">Here is where the secret keys to the site are, all the gears of the website!</p>
      <p class="lead"><code>destroy()</code>, <code>create()</code>, <code>analyze()</code> this website.</p>
    </div>
  </div>
  <br/>
</div>

<div class="col-md-6">
  <h2 class="card-title">Statistics</h2>
  <ul>
    <li>Number of <a href="/users">users</a>: <%= stats.nbUsers %></li>
    <li>Number of <a href="/novels">novels</a>: <%= stats.nbNovels %></li>
    <li>Number of <a href="/chapters">chapters</a>: <%= stats.nbChapters %></li>
    <li>Number of <a href="/comments">comments</a>: <%= stats.nbComments %></li>
  </ul>
  <p><a href="/admin/backup/database.zip" class="btn btn-info" target="_blank"><i class="fa fa-download">Backup Database</i></a></p>
  <form action="/admin/load/database" method="post" enctype="multipart/form-data">
    <input name="archive" required type="file">
    <button class="btn btn-danger" type="submit"><i class="fa fa-upload"></i> Load database</button>
  </form>
</div>

<div class="col-md-12">
  <h2 class="card-title">User Actions</h2>
  <p class="text-muted">Here are displayed the actions in the last 24 hours</p>
  <table class="table">
    <tr>
      <th>User</th>
      <th>Action</th>
      <th>Info</th>
      <th>Time</th>
    </tr>
    <% actions.forEach(action => { %>
    <tr>
      <td><% if (action.userLink) { %>
        <a href="<%- action.userLink%>"><%= action.user %></a>
      <% } else {%><%= action.user %><% }%></td>
      <td><%= action.action %></td>
      <td><%= action.data %></td>
      <td><time format="ago" unixtime="<%= sys.unixTime(action.id) %>"><%= sys.timeSince(action.id) %> ago</time></td>
    </tr>
    <% }); %>
  </table>
</div>
