<% title = "Edit chapter " + req.params.chapter + " for " + novel.title; %>

<%- contentFor('body') %>

<h1 class="text-md-center">Edit chapter <%= req.params.chapter %></h1>

<% if (message.length > 0) { %>
  <div class="alert alert-danger"><%= message %></div>
<% } %>

<h4>Novel: <a href="<%= novel.getLink() %>"><%= novel.title %></a></h4>

<form method="post">
  <div class="form-group">
    <label for="chapterTitle">Chapter title</label>
    <input type="text" class="form-control" id="chapterTitle" name="chapterTitle" placeholder="Title for the new chapter" maxlength="80" value="<%= req.body.chapterTitle || chapter.title %>" required>
  </div>
  <div class="form-group">
    <label for="chapterContent">Content</label>
    <textarea class="form-control squire-replace" name="chapterContent" id="chapterContent" rows="20" placeholder="The place is all yours!

You can try **bold** text, *italics*, [link description](url), or:

> This is a quote

- This is a 
- two-item list 

and all the other things possible with Markdown, including tables!" minlength="100" maxlength="50000" required><%- req.body.chapterContent || val.dbToText(chapter.content) %></textarea>
  </div>
  <div class="form-group">
    <label for="authorNote">Author's note</label>
    <textarea class="form-control" name="authorNote" id="authorNote" rows="4" placeholder="Optional, if you have something more to say" maxlength="2000"><%- req.body.authorNote || val.dbToText(chapter.authorNote) %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Edit chapter</button>
</form>

<!-- <link rel="stylesheet" href="/assets/stylesheets/squire-ui.css"><script type="text/javascript" src="/app/assets/javascript/squire.js"></script>-->