<% title = "Edit " + novel.title; %>

<%- contentFor('body') %>

<h1 class="text-md-center"><%= novel.title %></h1>

<% if (message.length > 0) { %>
  <div class="alert alert-danger"><%= message %></div>
<% } %>

<form method="post">
  <div class="form-group">
    <label for="novelTitle">Title of the novel</label>
    <input type="text" class="form-control" id="novelTitle" name="novelTitle" aria-describedby="titleHelp" placeholder="Awesome title for your novel" maxlength="80" value="<%= novel.title %>" disabled>
    <small id="titleHelp" class="form-text text-muted">To change the capitalization or punctuation of the title, contact support.</small>
  </div>
  <div class="form-group">
    <label for="novelDescription">Description</label>
    <textarea class="form-control" name="novelDescription" id="novelDescription" rows="4" placeholder="The description must not be too vague and give readers an idea what they are going to read." maxlength="2000"><%- req.body.novelDescription || val.dbToText(novel.description) %></textarea>
  </div>
  <div class="form-group">
    <label for="novelCategory">Main category</label>
    <select class="form-control" id="novelCategory" name="novelCategory" required>
      <option value="">-- Choose a genre --</option>
      <% categories.forEach(cat => { %>
        <option value="<%= cat.shorthand %>" <%- (req.body.novelCategory || novel.categories[0]) == cat.shorthand ? "selected":"" %>><%= cat.name %></option>
      <% }); %>
    </select>
  </div>
  <div class="form-group">
    <label for="novelCategory2">Additional category</label>
    <select class="form-control" id="novelCategory2" name="novelCategory2">
      <option value="">-- Choose a genre, if you want --</option>
      <% categories.forEach(cat => { %>
        <option value="<%= cat.shorthand %>" <%- (req.body.novelCategory2 || novel.categories[1]) == cat.shorthand ? "selected":"" %>><%= cat.name %></option>
      <% }); %>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Edit novel</button>
</form>