<%
  title = 'Home';
%>

<%- contentFor('body') %>

<!-- body -->

<div class="starter-template">
  <h1>LitNovel <span class="fa fa-fire"></span></h1>
  <p class="lead">Home to some beautiful novels and a lit community.</p>
</div>

<% if (error) { %>
<div class="alert alert-danger" role="alert">
  <span class="fa fa-exclamation" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <%- error %>
</div>
<% } %>

<div class="text-md-center">
  <p class="f3 mb-2">Latest updates</p>

  <%
    for (const category of req.categories) {
      %>
      <a href="/category/<%= category.shorthand %>"><span class="badge badge-primary"><%= category.name %></span></a>
      <%
    }
  %>

  <div class="mb-4"></div>
  <%- include("snippets/latest-updates") %>
 
</div>
