<% 
  title = 'Home'; 
%>

<%- contentFor('body') %>

<!-- body -->

<div class="starter-template">
  <h1>LitNovel <span class="fa fa-fire"></span></h1>
  <p class="lead">Home to some beautiful novels and a lit community.</p>
</div>

<% if (error) { %>
<div class="alert alert-danger" role="alert">
  <span class="fa fa-exclamation" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <%- error %>
</div>
<% } %>

<div class="jumbotron text-md-center">
  <h1 class="display-3"><span class="fa fa-lock"></span> Latest updates</h1>

  <p>Work in progress </p>
  <ul class="list-group text-md-left latest-updates">
    <% latest.forEach((item) => {%>
    <li class="list-group-item">
      <a class="list-group-item-action novel-title-link" href="/<%- slug(item.novel.title) %>">
        <span class="novel-title"><%= item.novel.title %> - 
        </span>
      </a>
      <a class="list-group-item-action chapter-stuff" href="/<%- slug(item.novel.title) + "/" + item.number %>">
        <strong> <%= item.number %></strong> 
        <small class="text-muted">
          <i><%= item.title %></i>
        </small>
      </a>
    </li>
    <% });%>
  </ul>
</div>