<% 

title = novel.title; 
isGod = req.user && (req.user.isAdmin() || req.user.id == author.id);
nLink = novel.getLink();
authorName = author.displayName();
followed = req.user && req.user.isFollowNovel(novel.id);
description = req.makeDescription(novel.description);

%>

<%- contentFor('body') %>

<meta property="og:title" content="<%= title %>" />
<meta property="og:type" content="books.book" />
<meta property="books:author" content="<%= authorName %>" />
<meta property="og:url" content="http://" + reg.get("host") + "/" + novel.getLink() />
<!--<meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />-->
<meta name="author" content="<%= authorName %>" />

<div>
  <h2 class="text-md-center"><%= title %> <small>by <a href="<%= author.getLink() %>"><%= authorName %></a></small></h2>
  <hr/>
  <div>
    <!--<a href="<%= novel.getLink() + (liked ? "/unlike": "/like") %>" class="btn btn-sm btn-secondary<%- liked ? " active" : "" %>"  aria-pressed="<%- liked ? "true" : "false" %>"><span class="fa fa-thumbs-o-up"></span> Like <span class="badge badge-default"><%- novel.likes %></span></a>-->
    <a href="<%= novel.getLink() + (followed ? "/unfollow" : "/follow") %>" class="btn btn-sm btn-secondary<%- followed ? " active" : "" %>" aria-pressed="<%- followed ? "true" : "false" %>"><span class="fa fa-plus"></span> Follow <span class="badge badge-default"><%- novel.follows %></span></a>
    <a class="btn btn-sm btn-secondary"><span class="fa fa-eye"><span class="sr-only">Views: </span></span> <span class="badge badge-default"><%= novel.totalViews %></span></a>
  </div>
  <p><br/><br/></p>
  <hr/>
  <div>
    <p>
      <% if (novel.categories[0]) { %>
        <a href="/category/<%= novel.categories[0] %>"><span class="badge badge-primary"><%= req.categoryName(novel.categories[0]) %></span></a>
      <% }
      if (novel.categories[1]) {
      %>
        <a href="/category/<%= novel.categories[1] %>"><span class="badge badge-default"><%= req.categoryName(novel.categories[1]) %></span></a>
      <% }%>
    </p>
    <h4>Synopsis</h4>
    <div class="synopsis">
      <%- novel.description %>
    </div>
    <% if (isGod) {%><p><a href="<%= nLink %>/edit"><span class="fa fa-pencil-square-o"></span> Edit description</a></p><% } %>  
  </div>
  <div>
    <h4>Chapters</h4>
    <p><ul class="list-group">
    <% if (!isGod) {
       novel.chapters.forEach( (item, index) => { if (index > 0 || novel.prologue) { %>
      <a class="list-group-item list-group-item-action" href="<%= nLink + "/" + index %>">
        <span class="chapter-title mr-auto">
          <%= index %> - <%= item.title %>
        </span>
        <span class="text-muted" >
         <%= item.views %> 
          <span class="fa fa-eye">
            <span class="sr-only">Views</span>
          </span>&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <time class="text-muted" format="ago" unixtime="<%= req.unixTime(item.id) %>"><%= req.timeSince(item.id) %> ago</time>
      </a>
    <% } });
     } else { %>
    <% novel.chapters.forEach( (item, index) => { if (index > 0 || novel.prologue) { %>
      <li class="list-group-item">
        <a class="mr-auto list-group-item-action" href="<%= nLink + "/" + index %>">
          <span class="chapter-title">
            <%= index %> - <%= item.title %>
          </span>
        </a> 
      </span>
        <span class="text-muted" >
         <%= item.views %> 
          <span class="fa fa-eye">
            <span class="sr-only">Views</span>
          </span>&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <time class="text-muted" format="ago" unixtime="<%= req.unixTime(item.id) %>"><%= req.timeSince(item.id) %> ago</time>&nbsp;&nbsp;&nbsp;
        
        <a href="<%= nLink + "/" + index  + "/edit" %>">
          <span class="sr-only">Edit chapter</span><span class="fa fa-pencil-square-o" aria-hidden="true"></span>
        </a> 
        <a href="<%= nLink + "/" + index  + "/delete" %>" <% if (index != novel.numChapters) {%>class="invisible"<%}%>> 
          <span class="sr-only">Delete chapter</span><span class="fa fa-trash" aria-hidden="true"></span>
        </a>
      </li>
    <% } });
    } %>
    </ul></p>
    <% if (isGod) {%><p><a href="<%= nLink %>/addchapter"><span class="fa fa-plus"></span> Add a chapter</a></p><% } %>
  </div>
  <% if (isGod) {%> 
  <div>
    <p>
      <% if (novel.public) {%>
      <a href="<%= nLink %>/hide" class="btn btn-primary"><span class="fa fa-eye-slash"></span> Make private</a>
      <% } else { %>
      <a href="<%= nLink %>/show" class="btn btn-primary"><span class="fa fa-eye"></span> Make public</a>
      <% } %>
      <a href="<%= nLink %>/delete" class="btn btn-danger<% if (novel.numChapters > 0) {%> disabled" title="You can't delete a novel with chapters in it"<% }else{ %>"<%}%>><span class="fa fa-trash"></span> Delete novel</a>
    </p>
  </div>
  <% } %>
</div>