<% 
title = novel.title; 
isGod = req.user && author && req.user.id == author.id;
nLink = novel.getLink();
%>

<%- contentFor('body') %>

<div>
  <h2 class="text-md-center"><%= title %> <small>by <a href="<%= author.getLink() %>"><%= author.displayName() %></a></small></h2>
  <hr/>
  <p><br/><br/><br/><br/><br/></p>
  <hr/>
  <div>
    <h4>Synopsis</h4>
    <div class="synopsis">
      <%- novel.description %>
    </div>
    <% if (isGod) {%><p><a href="<%= nLink %>/edit"><span class="fa fa-pencil-square-o"></span> Edit description</a></p><% } %>  
  </div>
  <div>
    <h4>Chapters</h4>
    <p><ul class="list-group">
    <% if (!isGod) {
       novel.chapters.forEach( (item, index) => { if (index > 0 || novel.prologue) { %>
      <a class="list-group-item list-group-item-action" href="<%= nLink + "/" + index %>"><%= index %> - <%= item.title %></a>
    <% } });
     } else { %>
    <% novel.chapters.forEach( (item, index) => { if (index > 0 || novel.prologue) { %>
      <li class="list-group-item"><a class="list-group-item-action" href="<%= nLink + "/" + index %>"><%= index %> - <%= item.title %></a> <span class="float-xs-right"> <a href="<%= nLink + "/" + index  + "/edit" %>"><span class="sr-only">Edit chapter</span><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a> <% if (index == novel.numChapters) {%><a href="<%= nLink + "/" + index  + "/delete" %>"> <span class="sr-only">Delete chapter</span><span class="fa fa-trash" aria-hidden="true"></span></a> <% } %> </span> </li>
    <% } });
    } %>
    </ul></p>
    <% if (isGod) {%><p><a href="<%= nLink %>/addchapter"><span class="fa fa-plus"></span> Add a chapter</a></p><% } %>
  </div>
  <% if (isGod) {%> 
  <div>
    <p>
      <a href="<%= nLink %>/delete" class="btn btn-danger<% if (novel.numChapters > 0) {%> disabled" title="You can't delete a novel with chapters in it"<% }else{ %>"<%}%>><span class="fa fa-trash"></span> Delete novel</a>
    </p>
  </div>
  <% } %>
</div>