<% 
title = "Profile"; 
%>

<%- contentFor('body') %>

<div class="text-md-center">
  <h1><span class="fa fa-home"></span> Profile Page</h1>
  <a href="/logout" class="btn btn-secondary btn-sm">Logout</a>
</div>

<!-- show any messages that come back with authentication -->
<% if (message.length > 0) { %>
<br/><div class="alert alert-info"><%= message %></div>
<% } %>


<%- include("snippets/user-details") %>

<div>
  <h2>Personal details</h2><hr>

  <% if(user.local.email) { %>
  <div class="col-md-6">
    <div class="card well">
      <div class="card-block">
        <h4 class="card-title"><span class="fa fa-user"></span> Local User</h4>
        <p class="card-text">
          <strong>id</strong>: <%= user._id %><br>
          <strong>username</strong>: <%= user.local.username %><br>
          <strong>email</strong>: <%= user.local.email %>
        </p>
      </div>
    </div>
  </div>
  <% } %>

  <% if(user.google.token) { %>
  <div class="col-md-6">
    <div class="card well">
      <div class="card-block">
        <h4 class="card-title text-danger"><span class="fa fa-google-plus"></span> Google</h4>

        <p>
          <strong>id</strong>: <%= user.google.id %><br>
          <strong>email</strong>: <%= user.google.email %><br>
          <strong>name</strong>: <%= user.google.name %>
        </p>        
      </div>
    </div>
  </div>
  <% } %>

  <% if(user.security) { %>
  <div class="col-md-6">
    <div class="card well">
      <div class="card-block">
        <h4 class="card-title text-danger"><span class="fa fa-shield"></span> Security</h4>
        <p>
          <strong>last login</strong>: <%= user.security.lastLogin.date %> <br>
          <strong>last login ip</strong>: <%= user.security.lastLogin.ip %><br>
          <strong>last ip</strong>: <%= user.security.lastIp %><br>
          <strong>confirmed</strong>: <%- user.confirmed() ? "yes": "no - <a href='/confirm'>Resend confirmation link</a>" %><br>
          <strong>reset link</strong>: <%= user.security.reset.key || "none" %>
        </p>

        <p>You can change your details <a href="/security">here</a>.</p>        
      </div>
    </div>
  </div>
  <% } %>
</div>