<% 
title = user.displayName(); 
%>

<%- contentFor('body') %>

<div class="text-md-center">
  <h1><%= title %></h1>
</div>

<div>
  <h2>Bio</h2>
  <div class="card">
    <div class="card-block">
      <%- user.bio || "<i>This user does not yet have a bio.</i>" %>
    </div>
  </div>
  <%if (user.novels) { %>
  <h2>Novels</h2>
  <ul class="list-group">
    <% user.novels.forEach( (novel) => { %>
      <a href="/<%= novel.slug %>" class="list-group-item list-group-item-action"><%= novel.title %></a>
    <% }); %>
  </ul>
  <% } %>
</div>

</div>