<%
  var isDisplayedUser = req.user && req.user.id == user.id;
%>


<section>
  <h2>Bio</h2>
  <div class="card">
    <div class="card-block">
      <%- user.bio || "<i>This user does not yet have a bio.</i>" %>
    </div>
  </div>
</section>
<% if (user.novels.length > 0 || isDisplayedUser) { %>
<section>
  <h2>Novels</h2>
  <%if (user.novels.length > 0) { %>
  <p><ul class="list-group">
    <% user.novels.forEach( (novel) => { %>
      <a href="/<%= slug(novel.title) %>" class="list-group-item list-group-item-action"><%= novel.title %></a>
    <% }); %>
  </ul></p>
  <% }
  if (isDisplayedUser) { %>
  <p><a href="/addnovel"><span class="fa fa-plus"></span> New novel</a></p>
  <% } %>
</section>
<% } %>

<% if (user.followedNovels.length > 0) { %>
<section>
  <h2>Followed novels</h2>
  <ul class="list-group">
    <% user.followedNovels.forEach( (novel) => { 
      var nLink = slug(novel.title); %>

      <% if (isDisplayedUser) { %>
      <li class="list-group-item">
        <a class="list-group-item-action mr-auto" href="<%= nLink %>"><%= novel.title %></a> 
        <a href="<%= nLink + "/unfollow" %>">
          <span class="sr-only">Unlike</span>
          <span class="fa fa-times" aria-hidden="true"></span>
        </a>
      </li>
      <% } else { %>
      <a href="/<%= slug(novel.title) %>" class="list-group-item list-group-item-action"><%= novel.title %></a>
      <% } %> 
    <% }); %>
  </ul>
</section>
<% } %>